@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Integrated Component Software<br />
    Forest Lodge 2037 NSW<br />
    <abbr title="Philippe Cell">P:</abbr>
    0420497580
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:philippefouquet@mac.com">philippefouquet@mac.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:ryan@claritycapital.com.au">ryan@claritycapital.com.au</a>
</address>